In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import datetime as dt
from datetime import timedelta

In [7]:
try:
    df_file = pd.read_csv(r"C:\Users\mitch\OneDrive\Documenten\Studie Toegepaste wiskunde\Tijdreeksen\datasets\datasets\filedata.csv", sep = ';', encoding='ISO-8859-1')
    df_weer = pd.read_csv(r"C:\Users\mitch\OneDrive\Documenten\Studie Toegepaste wiskunde\Tijdreeksen\datasets\datasets\weer.csv", sep = ';')
except:
    print('nope')
    #df = pd.read_csv(r"C:\Users\Chong\Desktop\Modelleren project\info\GBS_MOD_12082024.csv", sep = ';')

C:\Users\mitch\AppData\Local\Temp\ipykernel_9580\1750518533.py:2: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_file = pd.read_csv(r"C:\Users\mitch\OneDrive\Documenten\Studie Toegepaste wiskunde\Tijdreeksen\datasets\datasets\filedata.csv", sep = ';', encoding='ISO-8859-1')

In [8]:
df_file

,BeginDatum,begintijd,duurMinuten,zwaarteKmMin,OorzaakOmschrijving,roadnumber,hm,koplocatie
0,2000-01-01,14:24:00,35,88,Geen oorzaakcode opgegeven door TIC,A10,"28,9",tussen Westrandweg en Amsterdam-Hemhavens
1,2000-01-01,15:03:00,43,108,Ongeval niet gespecificeerd,A12,"2,3",tussen Den Haag-Centrum en Malieveld
2,2000-01-01,15:36:00,19,48,Geen oorzaakcode opgegeven door TIC,A10,"27,6",tussen Haarlem en Amsterdam-Sloterdijk
3,2000-01-02,0:00:00,30,113,Voertuig met pech niet gespecificeerd,A12,"42,5",tussen Bodegraven en Nieuwerbrug
4,2000-01-02,14:13:00,46,155,Ongeval niet gespecificeerd,A20,"31,6",tussen Kleinpolderplein en Rotterdam-Centrum
...,...,...,...,...,...,...,...,...
2808826,2023-12-18,16:06:30,104,469,Spitsfile (geen oorzaak gemeld),A12,"138,7",Duiven - Zevenaar
2808827,2023-12-18,16:06:30,2,3,Spitsfile (geen oorzaak gemeld),A15,"86,6",Hardinxveld-Giessendam - Sliedrecht-Oost
2808828,2023-12-18,16:06:30,42,210,Ongeval(len),A2,"95,1",Waardenburg - Martinus Nijhoffbrug
2808829,2023-12-18,16:06:30,2,3,Spitsfile (geen oorzaak gemeld),A2,67,Oudenrijn - Nieuwegein
2808830,2023-12-18,16:06:30,6,20,Spitsfile (geen oorzaak gemeld),A4,"72,8",Pernis - Beneluxtunnel

In [9]:
df_weer

         YYYYMMDD     locatie meting  meetwaarde
0        19010101     De Bilt     FG         NaN
1        19010101     De Bilt    FHX         NaN
2        19010101     De Bilt   FHXH         NaN
3        19010101     De Bilt    FHN         NaN
4        19010101     De Bilt   FHNH         NaN
...           ...         ...    ...         ...
6321379  20241208  Vlissingen     UG        87.0
6321380  20241208  Vlissingen     UX        90.0
6321381  20241208  Vlissingen    UXH         1.0
6321382  20241208  Vlissingen     UN        83.0
6321383  20241208  Vlissingen    UNH        24.0

[6321384 rows x 4 columns]